@model Atividade1.Controllers.Result;
@{
}

<h1>CONTROLLER: Teste</h1>
<h2>Método Index</h2>
<h3>View Index</h3>

<form method="post" asp-action="Index" asp-controller="Teste">

	<input type="text" id="texto" name="texto" />
	<input type="submit" value="Postar" />

</form>

<hr />

@if(!string.IsNullOrEmpty(Model.Texto)){
	<div>
		<span>Texto convertido:</span>
		<strong>@Model.Texto</strong>
	</div>
}
<div>
	<form method="get" asp-action="GetForeach" asp-controller="Teste">
		<div class="form-group">
			<label fir="xDoForeach">Valor de x:</label>
			<input type="text" name="color" id="xDoForeach" />
		</div>
		<button type="submit">
			GetForeach
		</button>
	</form>
</div>