@model JogoDaVelhaModel

<form id="JogoVelha" method="post">
    <table>
        @for (int i = 0; i < 3; i++)
        {
            <tr>
                @for (int j = 0; j < 3; j++)
                {
                    <td>
                        <input type="text"
                               name="A@i@j"
                               maxlength="1"
                               pattern="[XO]"
                               required
                               style="width: 40px; height: 40px; text-align: center; font-weight: bold;"
                               value="@(Model.Tabuleiro[i, j] == ' ' ? "" : Model.Tabuleiro[i, j].ToString())" />
                    </td>
                }
            </tr>
        }
    </table>
    <br />
    <button type="submit">Validar</button>
</form>

@if (Model.Vencedor != ' ' && Model.Vencedor != '\0')
{
    <h3>Jogador '@Model.Vencedor' venceu!</h3>
}
else
{
    <h3>Nenhum vencedor ainda.</h3>
}